[submodule "examples/swe-agent/nemo-gym"]
	path = examples/experimental/swe-agent/nemo-gym
	url = https://github.com/yueming-yuan/Gym
	branch = miles-swe-agent
[submodule "examples/swe-agent/mini-swe-agent"]
	path = examples/experimental/swe-agent/mini-swe-agent
	url = https://github.com/yueming-yuan/nv-mini-swe-agent
	branch = miles-swe-agent
[submodule "thirdparty/Megatron-LM"]
	path = thirdparty/Megatron-LM
	url = https://github.com/impossible-inc/Megatron-LM.git
	branch = miles-main
[submodule "thirdparty/sglang"]
	path = thirdparty/sglang
	url = https://github.com/impossible-inc/sglang.git
	branch = sglang-miles
[submodule "thirdparty/Megatron-Bridge"]
	path = thirdparty/Megatron-Bridge
	url = https://github.com/impossible-inc/Megatron-Bridge.git
	branch = bridge
