[submodule "thirdparty/Megatron-LM"]
	path = thirdparty/Megatron-LM
	url = https://github.com/radixark/Megatron-LM.git
	branch = miles-main
[submodule "thirdparty/sglang"]
	path = thirdparty/sglang
	url = https://github.com/Sphere-AI-Lab/sglang.git
	branch = submission
[submodule "thirdparty/Megatron-Bridge"]
	path = thirdparty/Megatron-Bridge
	url = https://github.com/Sphere-AI-Lab/Megatron-Bridge.git
	branch = submission
